@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/neutral-face');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	
	line-height: 1;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	overflow-x:hidden;	
	background: radial-gradient(102.98% 128.03% at 80.49% -2.98%, #7636FF 0%, #AE87FF 5.73%, #B998FF 9.38%, #CDB5FF 20.31%, #CFB8FF 21.34%, #CFB8FF 21.35%, #E4D7FF 31.25%, #E4D7FF 31.25%, #F2ECFF 46.88%, #F6F1FF 54.17%, #FFFFFF 73.44%) ;
	background-repeat: no-repeat;
	background-size: cover;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
	--index:calc(1vw + 1vh);
	--text:#fffee3;
	--transition: transform .75s cubic-bezier(0.075, 0.5, 0, 1);
	--font_size:calc(1vw + 1vh);
	--paddingtop:calc(1vh / 0.09);
}



header{
	align-items: center;
	justify-content: space-between;
	padding-top: calc(var(--index) * 1.25);
	max-width: calc(var(--index) * 78);
	margin: 0 auto;
	display: flex;
}

.logo{
	font-size: calc((1rem + 2vw) / 1.2);
	will-change: var(--transition);
	text-decoration: none;
	color: black;
	font-family: 'Neutral Face', sans-serif;
	font-weight: 400;
}

.menu__btn{
	font-size: calc((1rem + 2vw) / 1.2);
	cursor: pointer;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.9); 
  overflow-x: hidden; 
  transition: 0.5s;
}


.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px; 
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block; 
  transition: 0.3s; 
}


.overlay a:hover, .overlay a:focus {
  color: #763bff;
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.menu ul {
	margin: 0;
	list-style: none;
	display: none;
}

.menu .title {
	font-size: calc(var(--index) * 1.8);
	cursor: pointer;
}


.menu.open ul {
	display: block;
}

.container{
	padding-top: calc(1vh / 0.06);
	max-width: calc(var(--index) * 78);
	height: calc(1vh / 0.028);
	margin: 0 auto;
	border-bottom:solid 1px black;
}



.content_collage{
	padding-top: calc((1rem + 2vw) / 2.25);
	margin: 0 auto;
	max-width: calc(var(--index)*90);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.content-item{
	padding: calc((1rem + 2vw) / 2.25);
	margin: 0 auto;
	background-position: center;
	cursor: pointer;
	transition: 0.75s;
	max-width:  calc(1vh/0.004);
	object-fit: cover;
	object-position:center;
	will-change: var(--transition);
}

.content-item:hover{
	
    transform: scale(1.009); 
	will-change: var(--transition);
}


.content-item img{
	margin: 0 auto;
	width:calc(var(--index) / 0.028);
}

@media screen and (max-width: 950px)
 {
  .content-item{
    padding: calc((1rem + 2vw) / 2.25);
    margin: 0 auto;
    background-position: center;
    cursor: pointer;
    transition: 0.75s;
    width:  calc(1vh/0.004);
    object-fit: cover;
    object-position:center;
    will-change: var(--transition);
  }

  .footer__heart{
    padding: calc((1rem + 2vw) / 2.25);
    margin: 0 auto;
    background-position: center;
    cursor: pointer;
    transition: 0.75s;
    width:  calc(1vh / 0.004);
    object-fit: cover;
    object-position:center;
    will-change: var(--transition);
  }

  .footer_h1{
	font-size:calc(1vh * 2);
  }

  .container{
	height: calc(1vh / 0.023);
  }
  
  .click{
	border-radius: 8px;
  } 

  .content-item img{
  margin: 0 auto;
  width:100%;
}
.footer__heart{
	margin: 0 auto;
	width:100%;
}

.textblock{
	margin: 0 auto;
}

}
@media screen and (max-width: 450px){
	.footer__heart{
		 margin: 0 auto;
		width:100%;
	}
  .imgblock{
    margin: 0 auto;
		width:100%;
  }
}


.desc_text h1{
	text-align: justify;
	font-size: calc(1vh * 3.3);
	font-family: 'Neutral Face', sans-serif;
	font-weight: 400;
}

.desc_text p{
	transition: 0.25s;
	hyphens: auto;
	word-wrap: break-word;
	padding-top: calc(1vh * 1.5);
	font-weight: 600;
	font-size: calc(1vh * 2.2);
}
.desc_text h2{
	hyphens: auto;
	word-wrap: break-word;
	padding-top: calc(1vh * 1.5);
	font-weight: 400;
	font-size: calc(1vh * 2.2);
	padding-bottom: calc(1vh * 3);
}


.click{
	padding: calc((1rem + 2vw) / 2.25);
	border: 1px solid #000000;
	border-radius: 18px;
	background-color:rgba(28,28,28,0);
	font-size: calc(1vh*2.2);
	font-family: 'Raleway', sans-serif;
	will-change: var(--transition);
	cursor: pointer;
	transition: 0.5s;

}

.click:hover{
	background-color: #763bff;
	color: white;
	border: 1px solid #763bff;
}


.aboutme{
	padding-top:var(--paddingtop);
	max-width: calc(var(--index) * 78);
	height: 100%;
	margin: 0 auto;
	padding-bottom: calc(1vh * 5);
	border-bottom: 1px solid black;
}


.whoami{
	text-align: center;
	font-size: calc(1vh * 3.3);
	font-family: 'Neutral Face', sans-serif;
	
}

.footer{
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	padding-top:var(--paddingtop);
	max-width: calc(var(--index) * 78);
	margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_h1{
	font-family: 'Neutral Face', sans-serif;
	font-weight: 400;
	font-size:calc(1vh*3.5);
	padding-bottom: calc(var(--paddingtop) / 2);
}

.footer_h1-where{
	padding-top: calc(var(--paddingtop) / 2.5);
	font-family: 'Neutral Face', sans-serif;
	font-weight: 400;
	font-size:calc(1vh*3.5);
	padding-bottom: calc(var(--paddingtop) / 2);
}
    
.footer__input{
	margin-bottom: calc(var(--paddingtop) / 6);
	width: calc(1vh*38);
	padding: calc((1rem + 2vw)/2.15);
	border: 2px solid #763BFF;
	border-radius: 8px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #757575;

}

.footer__input-radio{
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: var(--font_size);
}


.element-animation {
	margin: 2rem 0;
	font-size: 3rem;
	
	/* Скроем элемент в начальном состоянии */
	opacity: 0;
	transform: translateY(20px);
  }
  
  .element-animation.element-show {
	opacity: 1;
	transition: all 1.5s;
	transform: translateY(0%);
  }

  .imgblock{
    margin: 0 auto;
    width: calc(var(--index)*20);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__heart{
    margin: 0 auto;
    background-position: center;
    transition: 0.75s;
    object-fit: cover;
    object-position:center;
    will-change: var(--transition);
    width:calc(var(--index) / 0.04);
  }
  